<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Step Counter needed permission-->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!--User Activity needed permission-->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <!--Location needed permissions-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Running counter needed permission-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:name=".StepTesterApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GamiranStepTester"
        tools:targetApi="35">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.GamiranStepTester">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".core.broadcast.receiver.ActivityRecognitionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ir.dorantech.gamiransteptester.ACTION_PROCESS_ACTIVITY_TRANSITIONS" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.broadcast.receiver.ActivityTypeBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="ir.dorantech.gamiransteptester.ACTION_PROCESS_ACTIVITY_TRANSITIONS2" />
            </intent-filter>
        </receiver>
        <service
            android:name=".core.services.StepCountingService"
            android:foregroundServiceType= "health"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name=".core.services.StepCountingService" />
            </intent-filter>
            <meta-data
                android:name="androidx.work.impl.workers.ServiceWorker"
                android:value="true"/>
        </service>
    </application>
</manifest>